<h1><a href = "/home.html"> PC Buildr Beta</a></h1>
<!--
<% $price = params[:price].to_i%>
<% $processor = ($price * params[:processor].to_f)/100 %>
<% $graphics = ($price * params[:graphics].to_f)/100 %>
<% $storage = ($price * params[:storage].to_f)/100 %>
<% $size = params[:case] %>
-->
<% $cpu, $gfx, $stor, $case, $board, $psu, $ram = self.query %>
<h2 class="text-center">The Results Are In!</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 content">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="text-center">CPU:</h4>
                    <p class="text-center"> <%= $cpu %> </p>
                    <img src = "./images/RTR-images_new/CPU/<%= getImage(:cpu, $cpu).to_s %>" > 
                    <h4 class="text-center">RAM:</h4>
                    <p class="text-center"> <%= $ram %></p>
                    <img src = "./images/RTR-images_new/RAM/<%= getImage(:ram, $ram).to_s %>" > 
                    <h4 class="text-center">Memory:</h4>
                    <p class="text-center"> <%= $stor %></p>
                    <img src = "./images/RTR-images_new/SSD/<%= getImage(:ssd, $stor).to_s %>" onerror="this.parentNode.removeChild(this)"> 
                    <img src = "./images/RTR-images_new/HDD/<%= getImage(:hdd, $stor).to_s %>" onerror="this.parentNode.removeChild(this)"> 
                    <h4 class="text-center">Case:</h4>
                    <p class="text-center"> <%= $case %></p>
                    <img src = "./images/RTR-images_new/Case/<%= getImage(:case, $case).to_s %>" > 
                </div>
                <div class = "col-sm-3">
                    <h4 class="text-center">GPU:</h4>
                    <p class="text-center"> <%= $gfx %></p>
                    <img src = "./images/RTR-images_new/GPU/<%= getImage(:gpu, $gfx).to_s %>" > 
                    <h4 class="text-center">Board:</h4>
                    <p class="text-center"><%= $board %></p>
                    <img src = "./images/RTR-images_new/Motherboard/<%= getImage(:motherboard, $board).to_s %>" > 
                    <h4 class="text-center">PSU:</h4>
                    <p class="text-center"><%= $psu %></p>
                    <img src = "./images/RTR-images_new/PSU/<%= getImage(:psu, $psu).to_s %>" > 
                    <h4 class="text-center">Other info:</h4>
                    <p class="text-center"> No other information to show. </p>
                </div>
                <div class = "col-sm-6">
                    <h3 class="text-center"><%= params[:case].capitalize %> ATX <%= params[:type].capitalize %>  PC for $<%= params[:price].to_i %> </h3>
                    <img src = "./images/RTR-images_new/Case/<%= getImage(:case, $case).to_s %>" class="center">
                    <hr>
                    <p>This computer is a moderately powerful gaming computer, capable of playing modern games at great speeds.  
                    Your cpu, the brains of the computer, is a modern <%= $cpu %>.  This will allow you to run intensive software, like Adobe Creative Cloud.  YOur build will have
                    plenty of RAM, which is similar to short term memory.  This will allow games and programs to load faster and allows you to have more applications open at once.
                    As for storage, you have <%= $stor %>, which is speedy long term memory and will hold dozens of games and hundreds of hours of video.  The gpu, the most important part of a 
                    gaming system, is a <%= $gfx %>, and will push modern games at 60 frames per second, giving you a smooth, realistic gaming experience.</br>  Your build will
                    come in a large <%= $case %>.  
                    </p>
                </div>
            </div>
            <div class="row buttons">
                <a href="<%= session[:my_previous_url] %>" class="col-sm-1 col-sm-offset-1"><button class="btn btn-default">BACK</button></a>
                <a href="email.html?type=<%= params[:type] %>&price=<%= params[:price] %>&processor=<%= params[:processor] %>&graphics=<%= params[:graphics] %>&storage=<%= params[:storage] %>&case=<%= params[:case] %>" class="col-sm-1 col-sm-offset-8"><button class="btn btn-default">NEXT</button></a>
            </div>
        </div>
    </div>
</div>