<h1><a href = "/home.html"> PC Buildr Beta</a></h1>
<!--
<% $price = params[:price].to_i%>
<% $processor = ($price * params[:processor].to_f)/100 %>
<% $graphics = ($price * params[:graphics].to_f)/100 %>
<% $storage = ($price * params[:storage].to_f)/100 %>
<% $size = params[:case] %>
-->
<% $cpu, $gfx, $stor, $case, $board, $psu, $ram = self.query %>
<h2 class="text-center">The Results Are In!</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 content">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="text-center">CPU:</h4>
                    <p class="text-center"> <%= $cpu %> </p>
                    <h4 class="text-center">RAM:</h4>
                    <p class="text-center"> <%= $ram %></p>
                    <h4 class="text-center">Memory:</h4>
                    <p class="text-center"> <%= $stor %></p>
                    <h4 class="text-center">Case:</h4>
                    <p class="text-center"> <%= $case %></p>
                    <h4 class="text-center">GPU:</h4>
                    <p class="text-center"> <%= $gfx %></p>
                    <h4 class="text-center">Board:</h4>
                    <p class="text-center"><%= $board %></p>
                    <h4 class="text-center">PSU:</h4>
                    <p class="text-center"><%= $psu %></p>
                    <h4 class="text-center">Other info:</h4>
                    <p class="text-center"> No other information to show. </p>
                </div>
                <div class = "col-sm-9">
                    <h3 class="text-center"><%= params[:case].capitalize %> ATX <%= params[:type].capitalize %>  PC for $<%= params[:price].to_i %> </h3>
                    <img src = "http://ironsidecomputers.com/images/aeolus_front.png" class="center">
                    <hr>
                    <p>This computer will do moderately well playing </p>
                </div>
            </div>
            <div class="row buttons">
                <a href="size.html" class="col-sm-1 col-sm-offset-1"><button class="btn btn-default">BACK</button></a>
                <a href="#" class="col-sm-1 col-sm-offset-8"><button class="btn btn-default">CHECKOUT</button></a>
            </div>
        </div>
    </div>
</div>