<h1>PC Buildr Alpha</h1>
<h2 class="text-center">Size matters</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 content">
            <div class="row">
                <form action="results.html">
                    <label>
                    <input id="type-input" type="hidden" name="type" value = <%= params[:type] %> />
                    <input id="price-input" type="hidden" name="price" value = <%= params[:price] %> />
                    <input id="processor-input" type="hidden" name="processor" value = <%= params[:processor] %> /> 
                    <input id="graphics-input" type="hidden" name="graphics" value = <%= params[:graphics] %> />
                    <input id="storage-input" type="hidden" name="storage" value = <%= params[:storage] %> />
                        <div class="col-sm-3 option">
                            <input id='case-input' type='radio' name='case' value='mini'>
                            <h4 class="text-center">Mini ITX</h4>
                            <img src="http://cdn5.thinkcomputers.org/wp-content/uploads/2014/12/cooltek-umx1-1.jpg" alt="..." class="center">
                            <p>Small, compact case for conserving space.  Good for casual use, as there is little aiflow or room for upgrades.</p>
                        </div>
                    </label>
                    <label> 
                        <div class="col-sm-3 option">
                            <input id='case-input' type='radio' name='case' value='micro'>
                            <h4 class="text-center">Micro ATX</h4>
                            <img src="https://files.pccasegear.com/images/PARV-S20-BKRED-th.jpg" alt="..." class="center">
                            <p>Smaller than average desktop tower.  Can be used for a casual or low end gaming computer.  Offers more space for upgrades than Micro ITX.</p>
                        </div>
                    </label>
                    <label> 
                        <div class="col-sm-3 option">
                            <input id='case-input' type='radio' name='case' value='mid'>
                            <h4 class="text-center">ATX Mid</h4>
                            <img src="https://cdn.pcpartpicker.com/static/forever/images/product/c667d5e741484f8dab12c1c71c2dd155.med.256p.jpg" alt="..." class="center">
                            <p>Standard size which will fit most hardware.  Commonly used for gaming and professional computers.  Enough space for upgrades.</p>
                        </div>
                    </label>
                    <label > 
                        <div class="col-sm-3 option">
                            <input id='case-input' type='radio' name='case' value='full'>
                            <h4 class="text-center">ATX Full</h4>
                            <img src="http://guideimg.alibaba.com/images/shop/101/12/24/1/nzxt-phantom-crafted-series-atx-full-tower-steel-chassis-red_2193531.jpg" alt="..." class="center">
                            <p>Towering, well built case, used in high end gaming and professional builds.  Plenty of space for extra hardware and future upgrades.</p>
                        </div>
                    </label>
                
            </div>
            <div class-"row">
                <img src="http://www.buildcomputers.net/images/computer-case-sizes.jpg" class="center">
            </div>
            <div class="row buttons">
                <a href="specs.html?type=<%= params[:type].to_s%>" class="col-sm-1 col-sm-offset-1"><button class="btn btn-default">BACK</button></a>
                <a type="submit" class="col-sm-1 col-sm-offset-8"><button class="btn btn-default">NEXT</button></a>
            </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('input:radio').change(function(){
            var $this = $(this);
            // Only remove the class in the specific `box` that contains the radio
            $('.highlight').removeClass('highlight');
            $this.closest('div').addClass('highlight');
        });
    });
</script>