<h1><a href = "/home.html"> PC Buildr Beta</a></h1>
<h2 class="text-center">Size matters</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 content">
            <form action="results.html">
                <div class="row padd">
                    <label>
                        <input id="type-input" type="hidden" name="type" value = <%= params[:type] %> />
                        <input id="price-input" type="hidden" name="price" value = <%= params[:price] %> />
                        <input id="processor-input" type="hidden" name="processor" value = <%= params[:processor] %> /> 
                        <input id="graphics-input" type="hidden" name="graphics" value = <%= params[:graphics] %> />
                        <input id="storage-input" type="hidden" name="storage" value = <%= params[:storage] %> />
                    </label>
                    <a href="results.html?type=<%= params[:type] %>&price=<%= params[:price] %>&processor=<%= params[:processor] %>&graphics=<%= params[:graphics] %>&storage=<%= params[:storage] %>&case=mini">
                        <div class="col-sm-3 option">
                            <input id='case-input' type='radio' name='case' value='mini'>
                            <h4 class="text-center">Mini ITX</h4>
                            <img src="./images/mini_itx.png" alt="..." class="center">
                            <p class="bump">Small, compact case for conserving space.  Good for casual use, as there is little aiflow or room for upgrades.</p>
                        </div>
                    </a>
                    <a href="results.html?type=<%= params[:type] %>&price=<%= params[:price] %>&processor=<%= params[:processor] %>&graphics=<%= params[:graphics] %>&storage=<%= params[:storage] %>&case=micro">
                        <div class="col-sm-3 option">
                            <input id='case-input' type='radio' name='case' value='micro'>
                            <h4 class="text-center">Micro ATX</h4>
                            <img src="./images/micro_atx.png" alt="..." class="center">
                            <p class="bump">Smaller than average desktop tower.  Can be used for a casual or low end gaming computer.  Offers more space for upgrades than Micro ITX.</p>
                        </div>
                    </a>
                    <a href="results.html?type=<%= params[:type] %>&price=<%= params[:price] %>&processor=<%= params[:processor] %>&graphics=<%= params[:graphics] %>&storage=<%= params[:storage] %>&case=mid">
                        <div class="col-sm-3 option">
                            <input id='case-input' type='radio' name='case' value='mid'>
                            <h4 class="text-center">ATX Mid</h4>
                            <img src="./images/mid_tower.png" alt="..." class="center">
                            <p class="bump">Standard size which will fit most hardware.  Commonly used for gaming and professional computers.  Enough space for upgrades.</p>
                        </div>
                    </a>
                    <a href="results.html?type=<%= params[:type] %>&price=<%= params[:price] %>&processor=<%= params[:processor] %>&graphics=<%= params[:graphics] %>&storage=<%= params[:storage] %>&case=full">
                        <div class="col-sm-3 option">
                            <input id='case-input' type='radio' name='case' value='full'>
                            <h4 class="text-center">ATX Full</h4>
                            <img src="./images/full_tower.png" alt="..." class="center">
                            <p class="bump">Towering, well built case, used in high end gaming and professional builds.  Plenty of space for extra hardware and future upgrades.</p>
                        </div>
                    </a>
                </div>
                <div class="row buttons">
                    <a href="specs.html?type=<%= params[:type].to_s%>" class="col-sm-1 col-sm-offset-1"><button class="btn btn-default">BACK</button></a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('input:radio').change(function(){
            var $this = $(this);
            // Only remove the class in the specific `box` that contains the radio
            $('.highlight').removeClass('highlight');
            $this.closest('div').addClass('highlight');
        });
    });
</script>